/* styles.css */
body {
  background-color: #f8f9fa;
  font-family: SF Pro, light;
}

h3 {
  color: #343a40;
}

.main-panel {
  padding: 0;
  height: 100vh;
}
      
.main-panel.collapsed {
        margin-left: 0; /* Shift main panel when sidebar is collapsed */
      }

.sidebar {
        background-color: #343a40;
        color: #ffffff;
        padding: 15px; 
        height : 100vh;
      }
      .sidebar .panel-title {
        color: #ffffff;
      }
      h4 {
        text-align: center;
        color: #343a40;
      }
      .btn {
        background-color: #1c4e80; 
        color: white;
      }
      .btn:hover {
        background-color: #0056b3; 
        color: white;
      }
      .btn.disabled {
        background-color: #6c757d;
        color: #ffffff !important;
        cursor: not-allowed; 
      }
      .well {
        margin-bottom: 20px; 
      }
      .leaflet {
        height: 800px; 
      }
      .input-group {
        display: flex;
        justify-content: space-between; 
        align-items: center; 
      }
      .input-group > input {
        flex-shrink: 1; 
      }
      
.sidebar-panel {
  background-color: #fff;
  
.input-group {
  display: flex;
  justify-content: center; /* Center items in the input group */
  align-items: center; /* Center items vertically */
  margin: 20px 0; /* Add margin above and below */
}

.input-group select {
  margin-right: 10px; /* Space between select and button */
}

h3 {
  text-align: center; /* Center the heading */
  margin-bottom: 15px; /* Space below heading */
}

.selectize-control .selectize-input {
  padding-right: 30px; /* Add space on the right for the dropdown arrow */
}

.selectize-control .selectize-input:focus {
  border-color: #007BFF; /* Optional: Change border color on focus */
}

.selectize-control .selectize-input > div {
  white-space: nowrap; /* Prevent text from wrapping */
  overflow: hidden;    /* Hide overflow */
  text-overflow: ellipsis; /* Show ellipsis if text is too long */
}

.selectize-input {
  width: 300px; /* Adjust the width as needed */
}

.selectize-control {
  width: 300px; /* Adjust the width as needed */
}

.selectize-control .selectize-input::after {
  content: ''; /* Create a pseudo-element for the arrow */
  position: absolute;
  top: 50%; /* Center vertically */
  right: 10px; /* Adjust the distance from the right edge */
  transform: translateY(-50%); /* Center the arrow */
  border: solid transparent; /* Make space for the arrow */
  border-width: 5px 5px 0 5px; /* Adjust as needed for arrow size */
  border-top-color: #000; /* Color of the arrow */
}

.disabled {
  background-color: #6c757d; /* Grey color for disabled */
  color: white; /* Text color */
  cursor: not-allowed; /* Change cursor to not-allowed */
}

.irs-from, .irs-to, .irs-single {
        color: #ffffff; /* Text color */
      }
      .irs {
        border: 2px solid #4caf50; /* Border color of the slider */
      }
      .irs--shiny .irs-min, .irs--shiny .irs-max {
        background: #4caf50; /* Background color of the min/max text */
      }
      .irs--shiny .irs-slider {
        background: #4caf50; /* Handle color */
        border: 2px solid #ffffff; /* Handle border color */
      }
      .irs--shiny .irs-slider:hover {
        background: #3e8e41; /* Handle color on hover */
      }
      .irs--shiny .irs-handle {
        background: #4caf50; /* Handle color */
        border: 2px solid #ffffff; /* Handle border color */
      }