.food-map-container {
  display: flex;
  height: 100vh;
  width: 100%;
  position: relative;
}

.food-sidebar {
  width: 300px;
  background-color: white;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0,0,0,0.1);
  z-index: 1;
}


.food-input-container {
  margin-bottom: 20px;
}

.food-checkbox-container {
  margin-top: 10px;
}

